# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/KrispyKremeVue/CopilotIndices/0.2.1634.3922/CodeChunks.db
.vs/KrispyKremeVue/CopilotIndices/0.2.1634.3922/SemanticSymbols.db
.vs/KrispyKremeVue/CopilotIndices/0.2.1634.3922/SemanticSymbols.db-shm
.vs/KrispyKremeVue/CopilotIndices/0.2.1634.3922/SemanticSymbols.db-wal
.vs/KrispyKremeVue/FileContentIndex/4d372e6a-307e-452f-a6e3-d538d213b741.vsidx
.vs/KrispyKremeVue/v17/.wsuo
.vs/KrispyKremeVue/v17/DocumentLayout.backup.json
.vs/KrispyKremeVue/v17/DocumentLayout.json
